{% extends "OrangeCoreBundle::layout.html.twig" %}

{% block title %}Admin - DCR{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" style="text-align : center;">
            <h1>DCR / DevCo Normandie-Centre</h1>
            <h2>Administration de la base de données</h2>
        </div>
    </div>
{% endblock %}
